
@{
    ViewBag.Title = "DoiTra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Return Policy</font></h2>
<ul>
    <li>Return within 1 week</li>
    Returned books must not be crumpled or torn.
    <li>Free Send</li>
    Free shipping through more than 20,000 Post Offices nationwide.
    <li>Update information</li>
    Continuously update each processing stage via email.
</ul>
<ol>
    <p><b>RETURNS STEPS</b></p>
    <li>Register for exchange</li>
    Contact BookStore via hotline 0352908667 or Visit webbansach17dtha3.cf/Home/Contact to register for exchange/return including Saturday, Sunday.
    <li>Receive a confirmation message</li>
    Bring the product to the post office and you will receive free shipping to BookStore at over 20,000 Post Offices nationwide.
</ol>
