
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">SHIPPING METHODS</font></h2>
<p><font size="4">Free shipping</font></p>
<ul>
    <li>Apply for orders in Ho Chi Minh with value from 150,000 VND. Delivery time is from 1-3 working days (inner city), 3-5 working days (outside the city) from the date of having enough books.</li>
    <li>Apply for orders in other provinces and cities with a value from 250,000 VND. Delivery time is from 3-7 working days according to the delivery time of the post office.</li>
</ul>
<p><font size="4">Fast and secure delivery</font></p>
<ol>
    <li>The responsibility for processing orders and shipping products to customers is assumed by webbansach17dtha3.cf and depends on the form of payment and shipping for the products declared by the customer when creating the order.</li>
    <li>fptbookstore will be responsible for ensuring that customers receive the goods exactly as ordered within the delivery time as committed. In case the goods are defective or damaged during transportation, BookStore will accept the exchange of new goods for customers.</li>
    <li>In case the customer arbitrarily cancels the order or the order is completed but cannot be delivered to the customer due to incorrect contact information, fptbookstore will cancel that order.</li>
</ol>
